<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


{% seo %}

<body class="theme-predestinadas">

    {% include sidebar.html %}

    <div class="content container">
      {{ content | excerpt }}
    </div>

  </body>
</html>
